<!DOCTYPE html>
<html>
  <head>
    <title>Register Bot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />   
    <link rel='stylesheet' href='/stylesheets/register.css' />  
  </head>
  <body>
    <div class='registration-form'>
      <h2>Register your bot...</h2>
      <form action='bot' method='post'>
        <div class='row'><label for='name'>Bot Name:</label><input name='name' type='text'/></div>
        <div class='row'><label for='uri'>Bot uri:</label><input name='uri' type='text'/></div>
        <div class='row'><label for='email'>Email Address:</label><input name='email' type='text'/></div>
        <div class='row'><input type='submit' value="Register"/></div>
      </form> 
    </div>
  </body>
</html>